body {
	margin: 0;
	padding: 0;
	
	font-family: Arial, sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: #A4A5A7;
	
	background-color: #2B2C2C;
	background-position: top center;
	background-repeat: no-repeat;
}
a {
	text-decoration: none;
	color: #A4A5A7;
}

p {
	margin: 0;
}

h1 {
	font-size:0;
	line-height: 0px;
}

h2 {
	text-transform: uppercase;
	text-align: right;
}

h3 {
	text-transform: uppercase;
}	

.main-navigation {
	font-size: 16px;
	line-height: 0px;
	color: #A4A5A7;
	
	background-color: #2B2C2C;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #E0A80B;
}

.name-top {
	font-family: Courier New, sans-serif;
	font-size: 60px;
	line-height: 40px;
	font-weight: 400;
	color: #A4A5A7;
	text-align: left;
	padding-left: 60px;
}

.second-name-top {
	color: #E0A80B;
	font-size: 66px;
	line-height: 60px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	padding-left: 60px;
}

.direction	{
	text-align: left;
	margin-bottom: 0px;
	padding: 60px;
	padding-top: 20px;
	font-size: 20px;
}

.social {
	padding-right: 60px;
}

.name-bottom {
	font-family: Courier New, sans-serif;
	font-size: 52px;
	line-height: 40px;
	font-weight: 400;
	color: #A4A5A7;
	text-align: left;
	margin: 0;
}

.second-name-bottom {
	color: #E0A80B;
	font-size: 56px;
	line-height: 60px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	margin: 0px;
}

.social-list,
.site-navigation,
.contact-list,
.knowledge-list,
.TS-list {
	list-style-type: none;
}

.social-list a:hover,
.social-list a:focus,
.social-list a:active {
	color: #E0A80B;
}

.left {
	text-align: right;
}

/*backgrounds*/
.personal-information,
.technical-skills,
.edication {
	background-color: #292A2A;
}

.PI-description,
.TS-list,
.edication-list {
	background-color: #2B2C2C;
}

.knowledge,
.expirience {
	background-color: #2B2C2C;
}

.name-social-contact,
.knowledge-list,
.expirience-list {
	background-color: #2D2E2E;
}

.footer-left-column {
	background-color: #2D2E2E;
}

/*размещение фото*/
.foto {
    display: flex;
    justify-content: center;
    align-items: center;
	flex-shrink: 0;
}

.name-social-contact {
	flex-grow: 1;
	margin: 0;
	width: auto;
}

.name-social {
	display: flex;
	width: auto;
	justify-content: space-between;
	height: 450px;
	align-items: flex-end;
}

/*colortexts*/
.colortext {
     color: #E3A804;
   }

.colortext2 {
     color: #646567;
   }

.button {
	font: inherit;
	text-align: center;
	color: #A4A5A7;
	vertical-align: middle;
	background-color: #2D2E2E;
	border-color: #A4A5A7;
}

.button:hover,
.button:focus,
.button:active {
	color: #E0A80B;
}

.site-navigation {
	display: flex;
	justify-content: space-around;
	padding: 0;
}

.contact-list {
	display: flex;
	justify-content: space-between;
}

.social-list {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.social-item {
	padding-left: 10px;
}

.foto-contact,
.personal-information,
.knowledge,
.technical-skills,
.expirience,
.edication {
	display: flex;
	margin: 0;
	padding: 0;
}

.contact-bottom-up,
.contact-bottom-down {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.left-column {
	width: 390px;
	margin: 0;
	padding: 60px;
	flex-shrink: 0;
}

.footer-left-column {
	flex-grow: 1;
	margin: 0;
	padding: 60px;
}

.foto {
	width: 390px;
	margin: 0;
	padding: 60px;
	min-height: 565px;
}

.knowledge-list,
.TS-list,
.expirience-list,
.edication-list {
	flex-grow: 1;
	margin: 0;
	padding: 60px;
	min-height: 150px;
	width: auto;
}

.edication-column {
	flex-grow: 1;
}

.edication-list {
	display: flex;
	padding: 60px;
	padding-right: 0px;	
	flex-grow: 1;
}

.edication-item {
	padding-right: 60px;
	flex-grow: 1;
}

.expirience-right-column {
	width: auto;
	flex-grow: 1;
	margin: 0;
	padding: 0;
}

.footer-right-side {
	flex-grow: 1;
	background-color: #2D2E2E;
}

.social-list {
	margin: 0;
	flex-grow: 1;
	padding: 60px;
}

.contact-list {
	flex-grow: 1;
	margin: 0;
	align-items: start;
	padding: 60px;
}

.PI-description {
	flex-grow: 1;
	margin: 0;
	padding: 60px;
	padding-top: 75px;
	min-height: 100px;
	width: auto;
}